
@{
    ViewBag.Title = "1103105313";
}
<h1>課表 : </h1>

<div class="col-md-6 col-md-offset-3">
    <table border=1 class="table table-bordered">
        <tr>
            <td align=center> </td>
            <td align=center>星期一</td>
            <td align=center>星期二</td>
            <td align=center>星期三</td>
            <td align=center>星期四</td>
            <td align=center>星期五</td>
        </tr>
        <tr>
            <td align=center>第一節</td>
            <td align=center></td>
            <td align=center></td>
            <td align=center></td>
            <td align=center></td>
            <td align=center></td>
        </tr>
        <tr>
            <td align=center>第二節</td>
            <td align=center></td>
            <td align=center>計算機結構</td>
            <td align=center></td>
            <td align=center></td>
            <td align=center>軟體工程</td>
        </tr>
        <tr>
            <td align=center>第三節</td>
            <td align=center></td>
            <td align=center>計算機結構</td>
            <td align=center></td>
            <td align=center></td>
            <td align=center>軟體工程</td>
        </tr>
        <tr>
            <td align=center>第四節</td>
            <td align=center></td>
            <td align=center>計算機結構</td>
            <td align=center></td>
            <td align=center></td>
            <td align=center>軟體工程</td>
        </tr>
        <tr>
            <td align=center>第五節</td>
            <td align=center></td>
            <td align=center>電腦遊戲設計實務</td>
            <td align=center>通識</td>
            <td align=center>人際關係</td>
            <td align=center></td>
        </tr>
        <tr>
            <td align=center>第六節</td>
            <td align=center></td>
            <td align=center>電腦遊戲設計實務</td>
            <td align=center>通識</td>
            <td align=center>人際關係</td>
            <td align=center></td>
        </tr>
        <tr>
            <td align=center>第七節</td>
            <td align=center>體育</td>
            <td align=center>電腦遊戲設計實務</td>
            <td align=center>通識</td>
            <td align=center></td>
            <td align=center></td>
        </tr>
        <tr>
            <td align=center>第八節</td>
            <td align=center>體育</td>
            <td align=center></td>
            <td align=center>通識</td>
            <td align=center></td>
            <td align=center></td>
        </tr>
    </table>

</div>