
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>yuIndex</title>
</head>
<body>
    <div> 
        <h1>陳陳愛鴨鴨</h1>
    </div>
</body>
</html>
