
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>yuIndex</title>
</head>
<body>
    <table border="1">
        <tbody>
            <tr>
                <td>座號</td>
                <td>姓名</td>
                <td>綽號</td>
            </tr>
            <tr>
                <td>13</td>
                <td>謝翔羽</td>
                <td>DUCK</td>
            </tr>
            <tr>
                <td>21</td>
                <td>陳怡君</td>
                <td>媽咪</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
